<div *ngIf="!isAdding else addingPerson">
  <button type="button" [disabled]="isEditing" (click)="toggleAdding(true)">
    Add new
  </button>
</div>

<ng-template #addingPerson>
  <app-person-edit (toggleIsEditingOrAdding)="toggleAdding($event)"></app-person-edit>
</ng-template>

<ul class="people">
  <li *ngFor="let person of people">
    <button type="button" (click)="onSelect(person)" [disabled]="isAdding || isEditing">
      <span class="firstname">{{person.firstname}} {{person.lastname}}</span>
      <div *ngIf="selectedPerson == person">
        <app-person-detail [person]="selectedPerson" (toggleIsEditing)="toggleEditing($event)"></app-person-detail>

      </div>

    </button>
  </li>
</ul>


