/* You can add global styles to this file, and also import other style files */


body {
  display: grid;
  justify-items: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(194, 218, 230);
  margin: 0;
}
button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
}
